h1{
  color:yellow;
  font-size:45px;
  text-transform: uppercase;
  text-align: center;
  margin:15px;
}
h2{
  color:yellow;
  font-size: 35px;
  text-transform: uppercase;
  margin:10px;
  text-align: center;
}
.P{
  color:yellow;
  text-align: center;
  font-size:20px;
  margin:5px;
  font-weight:bold;
  cursor: pointer;
  &.large{
    font-size:30px;
  }
  &.small{
    font-size:18px;
  }
}
